examples/plot_charts/src/plot_charts/data/** filter=lfs diff=lfs merge=lfs -text
examples/simple_calculator/src/aiq_simple_calculator/data/** filter=lfs diff=lfs merge=lfs -text
examples/simple/src/aiq_simple/data/** filter=lfs diff=lfs merge=lfs -text
examples/swe_bench/src/aiq_swe_bench/data/** filter=lfs diff=lfs merge=lfs -text
docs/source/_static/*.png filter=lfs diff=lfs merge=lfs -text
